# Should be placed to /usr/lib/systemd/system/

# https://wiki.archlinux.org/index.php/Systemd/Timers

[Unit]
Description=Run WAN IP checker service in fixed intervals and on boot

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min

[Install]
WantedBy=timers.target
