# Should be placed to /usr/lib/systemd/user/

[Unit]
Description=WAN IPv4 checker & email sender for dynamic IPv4 server environments
After=network-online.target

[Service]
User=%i
ExecStart=/usr/bin/bash /home/%i/wanchecker.sh