# Should be placed to /usr/lib/systemd/system/

[Unit]
Description=WAN IPv4 checker & email sender for dynamic IPv4 server environments
After=network-online.target

[Service]
User=mail
Group=mail
ExecStart=/usr/bin/bash /etc/ssmtp/wanchecker.sh
